<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2><span><%= render 'shared/friendship_status', user: @user %></span>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render 'shared/user_posts', user: @user, posts: @posts %>
    </ul>
  </article>
</section>
